nav > ul {
    width: 100%;
    list-style: none;
}

.main-nav-container {
    position: relative;
    width: 900px; 
    height: 105px; 
    padding: 0;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgb(144, 144, 144) 90%, rgb(170,170,170));
}

nav.main-nav {
    width: 757px;
    text-align: right;
    font-size: 15px;
    position: absolute;
    top: 72px;
    height: 33px;
    margin: 0 143px 0 0;
    z-index: 10;
}

ul > li {
    padding: 0px;
    list-style-type: none;
}

nav.main-nav > ul > li {
    display: inline-block;
}

ul > li > a {
    display: block;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    padding: 5px 0;
}

nav.dropdown-content > ul > li {
    padding: 0 5px;
    border-bottom: 1px solid #bcbcbc;
}

nav.dropdown-content > ul > li:last-child {
    border-bottom: initial;
}

nav.dropdown-content > ul > li:hover {
    background-color: #bcbcbc;
    text-decoration: underline;
    color: #005CA0; 
}

.dropdown {    
    display: inline-block;
    position: relative;    
}

.dropdown-content ul {
    width: 100%;
    background-image: linear-gradient(to top, rgb(144, 144, 144) 90%, rgb(170,170,170));
}

.dropdown-content {
    display: none;
    position: absolute;     
}

.dropdown:hover > .dropdown-content {
    display: block;
}

a.home {
    height: 17px;
    width: 17px;
    padding: 5px 0;
    background: url(imgs/menu_home.png) no-repeat 0 top;    
}

a.home:hover, a.home.active {
    background: url(imgs/menu_home.png) no-repeat -17px top;    
}

a.logo {
    display: block;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: -8px;
    background: url(imgs/paz_logo.png) no-repeat 0 0;
}

.pipe {
    color: #a7a7a7;
    width: 4px;
    text-align: center;
    margin: 0 12px;
} 

.lang {
    position: absolute;
    top: 20px;
    left: 180px;
    font-size: 12px;
}

.search {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 152px;
}
.search-container {
    float: right;
    width: 132px;
    height: 19px;
    background: url(imgs/search_input.png) 0px 0px no-repeat;    
}

.search a {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(imgs/search_button.png) 0px 0px no-repeat;
}

#search-box {
    position: relative;
    top: 2px;
    right: 4px;
    width: 126px;
    background: transparent;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
